

.main {
  height: 100vh;
  overflow-x: hidden;
  font-family: Inter, Space Grotesk;
  text-align: center;
 

}

.leftText {
  position: relative;
  display: block;
  float: left;
  /* right: 20em; */
  top: 5em;
}

.title_home{
  position: relative;
  margin-top: 2em;
  padding-left: 50px;
  text-align: left;
  color: black;


  font-size: 2em;
}

.subheading_title{
  position: relative;
  top: 3em;

  padding-left: 50px;
  text-align: left;
  color: #7D7D7D;
  font-size: 1.1875rem;
}

.getquotehomebtn {
  position: relative;
  top: 5em;
  padding: 10px;
  padding-left: 5em;
  padding-right: 5em;

  background: #0064B6;
  border-color: white;
}

.nav {
  justify-content: center;
  position: relative;
  background-color: #302F2F;
  font-size: 1.5rem;
  
}

.navtext {

  padding: 40px;
  color: white !important;
}

.logodiv{
  position: relative;
/*!make this start at the beginning of the page*/
}

.logo {
  position: relative;
  top: 2em;
  height: 30em;

}
