.main {
    text-align: center;
    font-family: Inter, Space Grotesk;


}
.abouttitle {
    position: relative;
    margin-top: 10px;
    font-size: 4rem;

}
.aboutparagraph {
    position: relative;
    font-size: 1.5rem;
    padding: 2em;
}